#content {
    margin: auto;
    font-family: Didot;
    
}

.replyForm {
	display: none;
}

#homeheader{
    text-align: left;
    margin-left: 20px;
}

.homep{
    text-align: left;
    margin: 20px;
}

#forumheader{
    text-align: center;
}

#forump{
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: auto
}

#search{
    width: 50%;
    text-align: left;
    margin-left: 15px;
}

#texteditor{
    width: 75%;
    text-align: left;
    margin: auto;
}

.centerthese{
    text-align: center;
}

