body {

}

#content {
    margin: auto;
    font-family: Didot;
    
}

.replyForm {
	display: block;
}

#homeheader{
    text-align: left;
    margin-left: 20px;
}

.homep{
    text-align: left;
    margin-left: 20px;
}

#forumheader{
    text-align: center;
}

#forump{
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: auto
}
    