{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
	<h1 id="forumheader">Coding Help</h1>

	<p id="forump">Please be respectful and keep your posts on topic!</p>

    <div id="search">
        <form action="/search" method="post">
            <label for="search_query">Search for:</label> <br>
            <input type="text" name="search_query" required></input>
            <input type="submit" value="Search">
        </form>
        
        <form action="/clearSearch">
            <input type="submit" value="Clear Search">
        </form>
    
    </div>
    <br>
    <br>
    
	{% if loggedIn %} 
		<div id= "texteditor">
		<form action="/submitted" method="post">
			<label for="post_text">Make a post!</label> <br>
			<textarea name="post_text" id="editor" required>
			</textarea>
			
			<!-- Text editor that adds basic editing options : bold, italicize, embed link, bulleted/numbered lists, insert image(remove probably), quote, undo/redo buttons -->
			<script>
				ClassicEditor
					.create( document.querySelector( '#editor' ) )
					.catch( error => {
						console.error( error );
					} );
			</script>
			
			<input type="submit"></input>
		</form>
		</div>
	{% endif %}
		
	<br>
	
	{{ posts }}
	
	<br><br><br><br><br><br>

{% endblock %}