{% extends "layout.html" %}

{% block title %}page1{% endblock %}

{% block content %}
	<h1 id="forumheader">Forum Name</h1>

	<p id="forump">Please be respectful and keep your posts on topic!</p>

	<form action="/submitted" method="post">
		<label for="post_text">Type something!</label> <br>
		<textarea name="post_text" id="editor" required></input>
		</textarea>
		
		<!-- Text editor that adds basic editing options : bold, italicize, embed link, bulleted/numbered lists, insert image(remove probably), quote, undo/redo buttons -->
		<script>
			ClassicEditor
				.create( document.querySelector( '#editor' ) )
				.catch( error => {
					console.error( error );
				} );
		</script>
		
		<input type="submit"></input>
	</form>
	
	<br>
	
	<form action="/search">
		<label for="search_query">Search for:</label> <br>
		<input type="text" name="search_query" required></input>
		
		<input type="radio" id="for_username" name="option" value="username" required>
		<label for="for_username"> Username</label>
		<input type="radio" id="for_keyword" name="option" value="text" required>
		<label for="for_keyword"> Keyword</label><br>
		
		<input type="submit" value="Search">
	</form>
	

	<div class="container-fluid">
		<div class="row-fluid">
			<h1>All posts</h1>
			<table class="table table-bordered table-striped">
				<caption>Caption</caption>
				{{ posts }}
				<!-- <thead>
					<tr>
						<th>
							Username
						</th>
						<th>
							Message
						</th>
					</tr>
				</thead> -->
			</table>
		</div>
	</div>
	
	
<pre>
{{ dump_user_data }}
</pre>

{% endblock %}
